<div class="flex-col" style="padding: 8px; height: 100%; box-sizing: border-box;">

    <mat-card appearance="outlined" class="topbar">
        <button mat-button [routerLink]="['/edit', bitmapKey]">
            <mat-icon>edit</mat-icon>
            Edit
        </button>
        <button mat-button (click)="openDialog()">
            <mat-icon>grid_on</mat-icon>
            Kernel
        </button>
        <div class="divider"></div>
        <mat-form-field subscriptSizing="dynamic" class="slim-form-field" appearance="outline">
            <mat-label>Padding</mat-label>
            <mat-select [(ngModel)]="padding" (ngModelChange)="refresh();">
                <mat-option value="zero">Zero</mat-option>
                <mat-option value="edge">Edge</mat-option>
            </mat-select>
        </mat-form-field>
        <div class="divider"></div>
        <mat-label>Pixel Size</mat-label>
        <mat-slider min="25" max="100" step="1" discrete="false">
            <input matSliderThumb [(ngModel)]="pixelSize">
        </mat-slider>
        <div class="divider"></div>
        <mat-checkbox [(ngModel)]="showNumberValues" [disabled]="pixelSize<40">
            Numbers
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="showGrid">
            Grid
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="showHeaders" [disabled]="pixelSize<40">
            Headers
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="showBase" (ngModelChange)="animate()">
            Base
        </mat-checkbox>
        <div class="divider"></div>
        <app-animation-controller [showValue]="false" [(value)]="animationIndex" (valueChanged)="animate()" [min]="0"
            [max]="bitmap.length()-1">
        </app-animation-controller>
    </mat-card>

    <div class="flex-row" style="gap: 8px; flex: 1; min-height: 0">

        <mat-card appearance="outlined" style="width: 50%; overflow: hidden;">
            <div class="scrollable">

                <app-bitmap class="bitmap" [bitmap]="bitmap" [pixelSize]="pixelSize"
                    [showHeaders]="showHeaders&&pixelSize>=40" [showGrid]="showGrid"
                    [showNumbers]="showNumberValues&&pixelSize>=40" [tick]="tick"
                    [selectedColorScale]="selectedColorScale" [userSelect]="false" style="margin: auto;"
                    (cellClicked)="onCellClicked($event)">

                </app-bitmap>
            </div>
        </mat-card>

        <mat-card appearance="outlined" style="width: 50%; overflow: hidden;">
            <div class="scrollable">

                <app-bitmap class="bitmap" [bitmap]="resultBitmap" [pixelSize]="pixelSize"
                    [showHeaders]="showHeaders&&pixelSize>=40" [showGrid]="showGrid"
                    [selectedColorScale]="selectedColorScale" [showNumbers]="showNumberValues&&pixelSize>=40"
                    [tick]="tick" [userSelect]="false" (cellClicked)="onCellClicked($event)">

                </app-bitmap>
            </div>
        </mat-card>

    </div>

    <mat-card appearance="outlined" style="overflow: hidden; min-height: fit-content;">
        <div class="scrollable flex-row" style="padding: 10px; justify-content: center; align-items: center;">
            <!-- <app-matrix-display [kernel]="sourceKernel"></app-matrix-display> -->
            <!--           
            <mat-icon class="sign">
                asterisk
            </mat-icon> -->

            <!-- <app-matrix-display [kernel]="kernel"></app-matrix-display> -->
            <div [mathjax]="getEquation()"
                style="font-size: 1.2rem; color: var(--mat-sys-on-surface); font-family: Roboto, 'Helvetica Neue', sans-serif;">
            </div>
            <!--           
            <mat-icon class="sign">
                equal
            </mat-icon> -->

            <!-- <app-matrix-display [kernel]="resultKernel"></app-matrix-display> -->
        </div>
    </mat-card>

</div>