<mat-card class="main-card" appearance="outlined">
    
    <mat-card-title style="display: flex;">
        Bitmap Editor
        <mat-icon inline class="menu-icon" [routerLink]="['/editor']">open_in_new</mat-icon>
    </mat-card-title>

    <mat-card-subtitle>
        <br>
        Bitmap element controls
    </mat-card-subtitle>

    <mat-card-content>
        <p>
            The Bitmap Editor allows you to manipulate pixel data in a grid format. You can:
        </p>
        <ul>
            <li>
                <strong>Left-click on a cell:</strong> Selects the clicked cell.
            </li>
            <li>
                <strong>Right-click on a selected cell:</strong> Deselects the clicked cell.
            </li>
            <li>
                <strong>Ctrl + Left-click:</strong> Adds the clicked cell to the current selection without deselecting other cells.
            </li>
            <li>
                <strong>Click on a column header:</strong> Selects or deselects the whole column.
            </li>
            <li>
                <strong>Click on a row header:</strong> Selects or deselects the whole row.
            </li>
            <li>
                <strong>Ctrl + A:</strong> Selects all cells in the editor.
            </li>
            <li>
                <strong>Ctrl + C:</strong> Copies the currently selected cells to the clipboard in CSV format.
            </li>
            <li>
                <strong>Ctrl + Z:</strong> Undoes the last action.
            </li>
            <li>
                <strong>Ctrl + Y:</strong> Redoes the last undone action.
            </li>
        </ul>
        <br>
    </mat-card-content>


    <mat-card-subtitle>
        Expression
    </mat-card-subtitle>
    <mat-card-content>
        <p>
            The editor includes support for mathematical expressions using the <a href="https://www.npmjs.com/package/expr-eval">expr-eval</a> library, enabling
            advanced manipulation of pixel values.
            You can write formulas to apply color transformations, perform calculations for each pixel, or generate
            procedural effects.
        </p>
            
        <p>
            Each pixel’s position can be accessed through the variables x (column index) and y (row index).
            You can also access the function <strong>b(x, y)</strong>, which returns the value of the pixel located at the given coordinates,
            as well as constants <strong>WIDTH</strong> and <strong>HEIGHT</strong> that represent the dimensions of the bitmap.
        </p>        
        
        <p>
            Expressions can use these variables and functions together with built-in math functions such as
            <strong>sin()</strong>, <strong>cos()</strong>, <strong>max()</strong>, and <strong>random()</strong>
            to create dynamic and complex image modifications.
        </p>
        <br>
    </mat-card-content>

    <mat-card-subtitle>
        Expression Examples
    </mat-card-subtitle>

    <mat-card-content>
        <ul>
            <li>
                <code>
                    255
                </code>
            </li>
            <li>
                <code>
                    b(x, y)*1.1
                </code>
            </li>
            <li>
                <code>
                    b(y, min(WIDTH, HEIGHT)-1-x)
                </code>
            </li>
            <li>
                <code>
                    x/WIDTH*255
                </code>
            </li>
            <li>
                <code>
                    simplex(x, y, 0) * 128 + 128
                </code>
            </li>
        </ul>
        <br>
    </mat-card-content>

    
    <mat-card-subtitle>
        Expression Syntax
    </mat-card-subtitle>

    <mat-card-content>
        <ul>
            <li>
                <a href="https://www.npmjs.com/package/expr-eval#operator-precedence">Operators</a>
            </li>
            <li>
                <a href="https://www.npmjs.com/package/expr-eval#unary-operators">Unary Operators</a>
            </li>
            <li>
                <a href="https://www.npmjs.com/package/expr-eval#pre-defined-functions">Predefined Functions</a>
                <ul>
                    <li><code>b(x, y)</code>: Returns the value of the pixel at (x, y).</li>
                    <li><code>simplex(x, y, seed)</code>: Returns a value from a 2D simplex noise function.</li>
                </ul>
            </li>
            <li>
                <a href="https://www.npmjs.com/package/expr-eval#constants">Constants</a>
                <ul>
                    <li><code>WIDTH</code>: The width of the bitmap.</li>
                    <li><code>HEIGHT</code>: The height of the bitmap.</li>
                    <li><code>RANDOM</code>: Random value between 0 and 255.</li>

                </ul>
            </li>
        </ul>
        <br>
    </mat-card-content>

    <mat-divider></mat-divider>
    
    <mat-card-title style="display: flex;">
        Binary Bitmap Editor
        <mat-icon inline class="menu-icon" [routerLink]="['/binary-editor']">open_in_new</mat-icon>
    </mat-card-title>
    <mat-card-subtitle>
        Controls
    </mat-card-subtitle>
    <mat-card-content>
        <ul>
            <!-- <li><code>Ctrl + Z</code>: Undo the last action.</li> -->
            <!-- <li><code>Ctrl + Y</code>: Redo the last undone action.</li> -->
            <!-- <li><code>Ctrl + C</code>: Copy the selected cells.</li> -->
            <!-- <li><code>Ctrl + V</code>: Paste the copied cells.</li> -->
            <li><strong>LMB:</strong> Sets a pixel</li>
            <li><strong>RMB:</strong> Unsets a pixel</li>
        </ul>
    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-title style="display: flex;">
        Structuring Element Editor
        <mat-icon inline class="menu-icon" [routerLink]="['/structuring-element']">open_in_new</mat-icon>
    </mat-card-title>
    <mat-card-subtitle>
        Controls
    </mat-card-subtitle>
    <mat-card-content>
        <ul>
            <!-- <li><code>Ctrl + Z</code>: Undo the last action.</li> -->
            <!-- <li><code>Ctrl + Y</code>: Redo the last undone action.</li> -->
            <!-- <li><code>Ctrl + C</code>: Copy the selected cells.</li> -->
            <!-- <li><code>Ctrl + V</code>: Paste the copied cells.</li> -->
            <li><strong>LMB:</strong> Sets a pixel</li>
            <li><strong>RMB:</strong> Unsets a pixel</li>
            <li><strong>MMB:</strong> Sets the origin of the structuring element</li>
        </ul>
    </mat-card-content>


</mat-card>