mat-card {
    padding: 10px;
    margin-bottom: 10px;
}

table {
    width: fit-content;
    border-collapse: collapse;
    user-select: none;
    min-width: max-content;
}

td {
    border: none;
}



.cell {
    /* min-width: 3ch;         */
    width: 3ch;           
    height: 3ch;            
    aspect-ratio: 1 / 1;  
    text-align: center;
    vertical-align: middle;
    font-family: "Roboto Mono", monospace;
    padding: 0.2ch;
    box-sizing: border-box;
}
.cell.header {
    background-color: var(--mat-sys-primary-container);
    color: var(--mat-sys-on-surface);
    font-weight: bold;
}


.bordered{
    border: var(--default-border);
}
.cell.data {
    background-color: white;
    border-image: linear-gradient(to right, red, blue) 1;
}
.cell:hover {
    filter: brightness(0.9);
}
.cell.data.border-bottom::before {
    border-bottom: var(--selected-border);
}
.cell.data.border-right::before {
    border-right: var(--selected-border);
}
.cell.data.border-left::before {
    border-left: var(--selected-border);
}
.cell.data.border-top::before {
    border-top: var(--selected-border);
}
.cell.data{
    position: relative;
    z-index: 1;
}

