<section>

        <mat-card appearance="outlined">
            <mat-toolbar>
                <mat-toolbar-row>
                    <label>Height</label>
                    <mat-slider showTickMarks min="5" max="20" step="1" discrete="thumbLabel" showTickMarks="showTicks"
                        style="width: fit-content;">
                        <input matSliderThumb value="10" (dragEnd)="setHeight($event.value)">
                    </mat-slider>
    
                    <label>Width</label>
                    <mat-slider showTickMarks min="5" max="20" step="1" discrete="thumbLabel" showTickMarks="showTicks"
                        style="width: fit-content;">
                        <input matSliderThumb value="10" (dragEnd)="setWidth($event.value)">
                    </mat-slider>

                    <label>Pixel Size</label>
                    <mat-slider showTickMarks min="30" max="100" step="5" discrete="thumbLabel" showTickMarks="showTicks"
                        style="width: fit-content;">
                        <input matSliderThumb value="40" (dragEnd)="pixelSize = $event.value">
                    </mat-slider>
             
                </mat-toolbar-row>
                <mat-toolbar-row>
                    <mat-checkbox [(ngModel)]="showNumberValues">Show Number Values</mat-checkbox>
                    <mat-checkbox [(ngModel)]="showBorders">Show Grid</mat-checkbox>
                </mat-toolbar-row>
                
            </mat-toolbar>
            

            <mat-card-header>
                <mat-card-title>Color</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <br>    
                <mat-button-toggle-group name="fontStyle" [(value)]="selectedColorScale" aria-label="Font Style" style="width: fit-content;">
                    <mat-button-toggle value="none">None</mat-button-toggle>
                    <mat-button-toggle value="grayscale">Grayscale</mat-button-toggle>
                    <mat-button-toggle value="heatmap">YellowOrangeRed</mat-button-toggle>
                    <mat-button-toggle value="spectral">Spectral</mat-button-toggle>
                    <mat-button-toggle value="viridis">Viridis</mat-button-toggle>
                </mat-button-toggle-group>
            </mat-card-content>
        </mat-card>
        
        
        <mat-card appearance="outlined">
            <mat-card-header>
                <mat-card-title>Canvas</mat-card-title>
            </mat-card-header>
            <mat-card-content style="overflow: auto;">
                <canvas
                    #canvas
                    [style.width]="(getWidth()*pixelSize+30) + 'px'"
                    [style.height]="(getHeight()*pixelSize+30) + 'px'"
                    style="border: var(--default-border); image-rendering: pixelated;"
                >
                    {{animate()}}
                </canvas>
            </mat-card-content>
        </mat-card>
        
        <!-- <mat-card appearance="outlined">
            <mat-card-header>
                <mat-card-title>Table</mat-card-title>
            </mat-card-header>
            <mat-card-content style="overflow: auto;">
            <table>
                <tr>
                    <td class="cell"></td>
                    @for (col of getCols(); track $index) {
                        <td class="cell header bordered" (click)="selectColumn(col, $event)" [style.cursor]="'ns-resize'">{{ col + 1 }}</td>
                    }
                </tr>
                
                @for (row of getRows(); track $index) {
                    <tr>
                        <td class="cell header bordered" (click)="selectRow(row, $event)" [style.cursor]="'ew-resize'">{{ row + 1 }}</td>
                        @for (col of getCols(); track $index) {
                        <td 
                            class="cell data" 
                            [ngClass]="getBorderClass(row, col)"
                            [style.backgroundColor]="getBgColor(row, col)"
                            [style.width]="pixelSize + 'px'"
                            [style.height]="pixelSize + 'px'"
                            [style.color]="getFgColor(row, col)"
                            (click)="selectElement(row, col, $event)"
                        >
                            @if (showNumberValues) {
                                {{ getValue(row, col) }}
                            }
                        </td>
                        }
                    </tr>
                }
            </table>
                </mat-card-content>
        </mat-card> -->
        

   
</section>