<div class="main-grid">

    <!-- LEFT SIDEBAR -->
    <mat-card appearance="outlined">
        <div class="scrollable flex-col" style="gap: 0">


            <mat-card-header>
                <mat-card-title>
                    <mat-icon inline style="vertical-align: middle;">tune</mat-icon>
                    Properties
                </mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <mat-label>Height</mat-label>
                <br>
                <mat-slider min="5" max="40" step="1" discrete="thumbLabel" style="width: 120px;">
                    <input matSliderThumb [value]="height" (dragEnd)="height = $event.value; resize()">
                </mat-slider>

                <br>

                <mat-label>Width</mat-label>
                <br>
                <mat-slider min="5" max="40" step="1" discrete="thumbLabel" style="width: 120px;">
                    <input matSliderThumb [value]="width" (dragEnd)="width = $event.value; resize()">
                </mat-slider>
            </mat-card-content>

            <mat-card-content>
                <mat-form-field class="example-full-width" subscriptSizing="dynamic">
                    <mat-label>Default value</mat-label>
                    <input matInput type="number" placeholder="Ex. 10" [(ngModel)]="defaultValue" min="0" max="255"
                        step="1">
                </mat-form-field>
                <mat-divider style="margin-bottom: 15px;"></mat-divider>
            </mat-card-content>

            <mat-card-content>
                <mat-label>Pixel Size</mat-label>
                <br>
                <mat-slider min="25" max="100" step="1" discrete="thumbLabel" style="width: 120px;">
                    <input matSliderThumb [(ngModel)]="pixelSize">
                </mat-slider>
                <!-- <mat-divider style="margin: 5px 0;"></mat-divider> -->
            </mat-card-content>

            <mat-card-content>
                <mat-checkbox [(ngModel)]="showNumberValues" [disabled]="pixelSize<40">
                    Numbers
                </mat-checkbox>
                <br>
                <mat-checkbox [(ngModel)]="showGrid">
                    Grid
                </mat-checkbox>
                <br>
                <mat-checkbox [(ngModel)]="showHeaders" [disabled]="pixelSize<40">
                    Headers
                </mat-checkbox>
                <!-- <mat-divider style="margin: 5px 0;"></mat-divider> -->
            </mat-card-content>

            <mat-card-content>
                <mat-form-field subscriptSizing="dynamic">
                    <mat-label>Color Scale</mat-label>
                    <mat-select [(ngModel)]="selectedColorScale">
                        <mat-option value="none">None</mat-option>
                        <mat-option value="grayscale">Grayscale</mat-option>
                        <mat-option value="heatmap">YellowOrangeRed</mat-option>
                        <mat-option value="spectral">Spectral</mat-option>
                        <mat-option value="viridis">Viridis</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-divider></mat-divider>
            </mat-card-content>

            <mat-card-content>
                <p>Width: {{width}}px</p>
                <p>Height: {{height}}px</p>
                <p>Pixel size: {{pixelSize}}px</p>
            </mat-card-content>
        </div>
    </mat-card>

    <!-- CENTER CANVAS -->
    <mat-card appearance="outlined" style="overflow: hidden;">
        <div class="scrollable">
            <app-bitmap class="bitmap" [bitmap]="bitmap" [pixelSize]="pixelSize"
                [selectedColorScale]="selectedColorScale" [showColorScale]="showColorScale" [showGrid]="showGrid"
                [showNumbers]="showNumberValues&&pixelSize>=40" [showHeaders]="showHeaders&&pixelSize>=40"
                [tick]="tick">
            </app-bitmap>
        </div>
    </mat-card>

    <!-- RIGHT SIDEBAR -->
    <mat-card class="sidebar" appearance="outlined">
        <div class="scrollable flex-col" style="gap: 0">

            <mat-card-header>
                <mat-card-title>
                    <mat-icon inline style="vertical-align: middle;">build</mat-icon>
                    Tools
                </mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <br>
                <mat-card-subtitle>
                    <mat-icon inline>dashboard_customize</mat-icon>
                    Behavior
                </mat-card-subtitle>

                <mat-form-field subscriptSizing="dynamic">
                    <mat-label>Quantization</mat-label>
                    <mat-select [(ngModel)]="quantizationMode">
                        <mat-option value="round">Round</mat-option>
                        <mat-option value="floor">Floor</mat-option>
                        <mat-option value="ceil">Ceil</mat-option>
                    </mat-select>
                </mat-form-field>
                
                <mat-form-field subscriptSizing="dynamic">
                    <mat-label>Out of Range</mat-label>
                    <mat-select [(ngModel)]="outOfRangeHandling">
                        <mat-option value="none">None</mat-option>
                        <mat-option value="clipping">Clipping</mat-option>
                        <mat-option value="modulo">Modulo</mat-option>
                    </mat-select>
                </mat-form-field>
                
                <mat-form-field subscriptSizing="dynamic">
                    <mat-label>Out of Bounds</mat-label>
                    <mat-select [(ngModel)]="outOfBoundsHandling">
                        <mat-option value="none">None</mat-option>
                        <mat-option value="zero">Zero</mat-option>
                        <mat-option value="default">Default value</mat-option>
                    </mat-select>
                </mat-form-field>

            </mat-card-content>

            <mat-card-content>
                <mat-card-subtitle style="display: flex; align-items: center;">
                    <mat-icon inline>functions</mat-icon>
                    Expression
                    <span class="spacer"></span>
                    <button mat-button [matMenuTriggerFor]="menu" [disabled]="getHistory().length == 0">
                        <mat-icon style="margin: 0;">history</mat-icon>
                    </button>
                </mat-card-subtitle>

                <mat-form-field style="width: 100%;" subscriptSizing="dynamic">
                    <mat-label>b'(x, y)=</mat-label>
                    <textarea matInput [formControl]="expressionControl" placeholder="Ex. b(x, y) * 2"></textarea>
                    @if (expressionControl.hasError('required')) {
                    <mat-error>
                        Expression is required
                    </mat-error>
                    }
                    @else if (expressionControl.hasError('expression')) {
                    <mat-error style="padding-bottom: 10px; height: fit-content;">
                        Syntax error
                    </mat-error>
                    }
                </mat-form-field>

                <button mat-flat-button style="width: 100%;" [disabled]="expressionControl.invalid"
                    (click)="apply()">
                    <mat-icon>check</mat-icon>
                    Apply
                </button>



            </mat-card-content>

            <div style="flex: 1;"> </div>

            <div>

                @if (canSave()) {

                <mat-card-content>
                    <mat-card-subtitle>
                        <mat-icon inline>commit</mat-icon>
                        Actions
                    </mat-card-subtitle>

                    <button mat-flat-button style="width: 100%; background-color: var(--mat-sys-tertiary); "
                        (click)="save()">
                        <mat-icon>save</mat-icon>
                        Save
                    </button>

                    <button mat-flat-button
                        style="width: 100%; background-color: var(--mat-sys-neutral); color: var(--mat-sys-on-primary); margin-top: 10px;"
                        (click)="quit()">
                        <mat-icon>cancel</mat-icon>
                        Cancel
                    </button>
                </mat-card-content>
                }
            </div>

            <mat-menu #menu="matMenu">
                <mat-nav-list style="width: 230px; max-height: 250px; padding: 5px; box-sizing: border-box;">
                    @for (action of getHistory(); track $index) {
                    <a mat-list-item (click)="expressionControl.setValue(action);">
                        {{ action }}
                    </a>
                    }
                </mat-nav-list>
            </mat-menu>
        </div>

    </mat-card>

</div>