<div class="main-grid">

    <!-- LEFT SIDEBAR -->
    <mat-card appearance="outlined">
        <div class="scrollable sidebar">
            <mat-card-title class="end">
            <mat-icon inline>tune</mat-icon>
                Properties
            </mat-card-title>
            <mat-label>Height</mat-label>
            <mat-slider min="5" max="40" step="1" discrete="thumbLabel">
                <input matSliderThumb [value]="height" (dragEnd)="height = $event.value; resize()">
            </mat-slider>
            <mat-label>Width</mat-label>
            <mat-slider class="end" min="5" max="40" step="1" discrete="thumbLabel">
                <input matSliderThumb [value]="width" (dragEnd)="width = $event.value; resize()">
            </mat-slider>
            <mat-form-field subscriptSizing="dynamic" appearance="outline">
                <mat-label>Default value</mat-label>
                <input matInput type="number" placeholder="Ex. 10" [(ngModel)]="defaultValue" min="0" max="255" step="1">
            </mat-form-field>
            <mat-divider></mat-divider>
            <mat-card-title class="end">
                <mat-icon inline>visibility</mat-icon>
                View
            </mat-card-title>
            <mat-checkbox [(ngModel)]="showNumberValues" [disabled]="pixelSize<40">
                Numbers
            </mat-checkbox>
            <mat-checkbox [(ngModel)]="showGrid">
                Grid
            </mat-checkbox>
            <mat-checkbox class="end" [(ngModel)]="showHeaders" [disabled]="pixelSize<40">
                Headers
            </mat-checkbox>
            <mat-label>Pixel Size</mat-label>
            <mat-slider class="end" min="25" max="100" step="1" discrete="thumbLabel">
                <input matSliderThumb [(ngModel)]="pixelSize">
            </mat-slider>
            <mat-form-field class="end" subscriptSizing="dynamic" appearance="outline">
                <mat-label>Color Scale</mat-label>
                <mat-select [(ngModel)]="selectedColorScale">
                    <mat-option value="none">None</mat-option>
                    <mat-option value="grayscale">Grayscale</mat-option>
                    <mat-option value="heatmap">YellowOrangeRed</mat-option>
                    <mat-option value="spectral">Spectral</mat-option>
                    <mat-option value="viridis">Viridis</mat-option>
                </mat-select>
            </mat-form-field>
            <div class="spacer"></div>
            <div>
                <p>
                    <!-- <mat-icon inline="true" style="vertical-align: middle;">arrow_range</mat-icon> -->
                    Width: {{width}}px
                </p>
                <p>
                    <!-- <mat-icon inline="true" style="vertical-align: middle;">height</mat-icon> -->
                    Height: {{height}}px
                </p>
                <p>
                    <!-- <mat-icon inline="true" style="vertical-align: middle;">open_in_full</mat-icon> -->
                    Pixel size: {{pixelSize}}px
                </p>
            </div>
        </div>
    </mat-card>


    <!-- CENTER CANVAS -->
    <mat-card appearance="outlined" style="overflow: hidden;">
        <div class="scrollable">
            <app-bitmap class="bitmap" [bitmap]="bitmap" [pixelSize]="pixelSize"
                [selectedColorScale]="selectedColorScale" [showGrid]="showGrid"
                [showNumbers]="showNumberValues&&pixelSize>=40" [showHeaders]="showHeaders&&pixelSize>=40"
                [tick]="tick">
            </app-bitmap>
        </div>
    </mat-card>


    <!-- RIGHT SIDEBAR -->
    <mat-card appearance="outlined">
        <div class="scrollable sidebar">
            <mat-card-title class="end">
                <mat-icon inline>build</mat-icon>
                Tools
            </mat-card-title>
            <mat-card-subtitle class="end">
                <mat-icon inline>dashboard_customize</mat-icon>
                Behavior
            </mat-card-subtitle>
            <mat-form-field class="end" subscriptSizing="dynamic" appearance="outline">
                <mat-label>Quantization</mat-label>
                <mat-select [(ngModel)]="quantizationMode">
                    <mat-option value="round">Round</mat-option>
                    <mat-option value="floor">Floor</mat-option>
                    <mat-option value="ceil">Ceil</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="end" subscriptSizing="dynamic" appearance="outline">
                <mat-label>Out of Range</mat-label>
                <mat-select [(ngModel)]="outOfRangeHandling">
                    <mat-option value="zero">Zero</mat-option>
                    <mat-option value="clipping">Clipping</mat-option>
                    <mat-option value="modulo">Modulo</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="end" subscriptSizing="dynamic" appearance="outline">
                <mat-label>Padding</mat-label>
                <mat-select [(ngModel)]="padding">
                    <mat-option value="zero">Zero</mat-option>
                    <mat-option value="default">Default value</mat-option>
                    <mat-option value="edge">Edge</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-card-subtitle class="start flex-row">
                <mat-icon inline>functions</mat-icon>
                Expression
                <span class="spacer"></span>
                <button mat-icon-button [matMenuTriggerFor]="menu" [disabled]="getHistory().length == 0">
                    <mat-icon style="font-size: 17px;">history</mat-icon>
                </button>
            </mat-card-subtitle>


            <mat-form-field class="end" subscriptSizing="dynamic"  appearance="outline">
                <mat-label>b'(x, y)=</mat-label>
                <textarea matInput [formControl]="expressionControl" placeholder="Ex. b(x, y) * 2"></textarea>
                @if (expressionControl.hasError('required')) {
                <mat-error>
                    Expression is required
                </mat-error>
                }
                @else if (expressionControl.hasError('expression')) {
                <mat-error>
                    Syntax error
                </mat-error>
                }
            </mat-form-field>

            
            <button mat-flat-button class="end" [disabled]="expressionControl.invalid"
                (click)="apply()">
                <mat-icon>check</mat-icon>
                Apply
            </button>
            <div class="spacer"> </div>
            @if (canSave()) {
            <mat-card-subtitle class="end">
                <mat-icon inline>commit</mat-icon>
                Actions
            </mat-card-subtitle>
            <button mat-flat-button class="end" style="background-color: var(--mat-sys-tertiary); "
                (click)="save()">
                <mat-icon>save</mat-icon>
                Save
            </button>
            <button mat-flat-button  class="end" style="background-color: var(--mat-sys-neutral); color: var(--mat-sys-on-primary);"
                (click)="quit()">
                <mat-icon>cancel</mat-icon>
                Cancel
            </button>
            }
        </div>
    </mat-card>
</div>

    
<mat-menu #menu="matMenu">
    <mat-nav-list style="width: 232px; max-height: 250px; padding: 5px; box-sizing: border-box;">
        @for (action of getHistory(); track $index) {
        <a mat-list-item (click)="expressionControl.setValue(action);">
            {{ action }}
        </a>
        }
    </mat-nav-list>
</mat-menu>