<header>
  <mat-icon class="menu-icon" fontIcon="menu" (click)="sidenav.toggle()">
  </mat-icon>
  
  <h3 style="margin: 0;">
    {{title}}
  </h3>
  
  <span class="spacer"></span>
  
  <mat-icon class="menu-icon" [fontIcon]="themeService.getTheme()=='light'?'light_mode':'dark_mode'"
    (click)="themeService.toggleTheme()">
  </mat-icon>
</header>

<mat-sidenav-container>

  <mat-sidenav #sidenav mode="side" closed (mouseenter)="sidenav.open()" (mouseleave)="sidenav.close()">
    @if (sidenav.opened) {
    <mat-nav-list>
      <a mat-list-item routerLink="/">Home</a>
      <a mat-list-item routerLink="/editor">Bitmap Editor</a>
    </mat-nav-list>
    }
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet />
  </mat-sidenav-content>

</mat-sidenav-container>