
/* You can add global styles to this file, and also import other style files */

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

html, body { height: 100%; }

body { 
  margin: 0; 
  padding: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;

  --selection-border-color: #00b3ff;
  --selection-border-color: #00b3ff;
  --selection-background-color: rgba(218, 226, 249, 0.5);
  --selected-border: 2px solid var(--selection-border-color);
  --default-border: 1px solid var(--mdc-outlined-card-outline-color, var(--mat-sys-outline-variant, crimson));
}
header, button[mat-flat-button] {
  font-family: "Montserrat", sans-serif !important;
}

.main-card {
    margin: 8px;
    padding: 20px;
    min-height: calc(100% - 16px);
    width: calc(100% - 16px);
}

.flex-row {
  display: flex;
  gap: 10px;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.bitmap {
  margin: auto;
  background-color: var(--mat-sys-outline-variant);
  border-radius: 1px;
  outline: 1px solid var(--mat-sys-outline-variant);
}
.scrollable {
  height: 100%;
  overflow: auto;
  display: flex;
}
