table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid #2e2e2eff;
    padding: 4px;
    text-align: center;
    width: 33px;
    height: 33px;
}

th {
    background-color: #f2f2f2;
}