<div class="flex-col" style="padding: 8px; height: 100%; box-sizing: border-box;">
    <mat-card appearance="outlined" class="topbar">
        <button mat-button [routerLink]="['/edit', bitmapKey]">
            <mat-icon style="min-width: fit-content;">edit</mat-icon>
            Edit
        </button>
        <div class="divider"></div>
        <mat-checkbox [(ngModel)]="showNumberValues" [disabled]="pixelSize<40">
            Numbers
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="showGrid">
            Grid
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="showHeaders" [disabled]="pixelSize<40">
            Headers
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="showBase" (ngModelChange)="animate()">
            Base
        </mat-checkbox>
        <div class="divider"></div>
        <mat-label>
            Pixel Size
        </mat-label>
        <mat-slider min="25" max="100" step="1" discrete="false">
            <input matSliderThumb [(ngModel)]="pixelSize">
        </mat-slider>
        <app-animation-controller [showValue]="false" [(value)]="animationIndex" (valueChanged)="animate()" [min]="0" [max]="bitmap.length()-1">
        </app-animation-controller>
    </mat-card>

    <div class="flex-row" style="gap: 8px; flex: 1; min-height: 0">

        <mat-card appearance="outlined" style="width: 50%; overflow: hidden;">
            <div class="scrollable">

                <!-- (cellClicked)="onCellClicked($event)"-->
                <app-bitmap class="bitmap" [bitmap]="bitmap" [pixelSize]="pixelSize"
                    [showHeaders]="showHeaders&&pixelSize>=40" [showGrid]="showGrid"
                    [showNumbers]="showNumberValues&&pixelSize>=40" [tick]="bitmapTick"
                    [selectedColorScale]="selectedColorScale" [userSelect]="false" style="margin: auto;"

                    >

                </app-bitmap>
            </div>
        </mat-card>

        <mat-card appearance="outlined" style="width: 50%; overflow: hidden;">
            <div class="scrollable">

                <app-bitmap class="bitmap" [bitmap]="resultBitmap" [pixelSize]="pixelSize"
                    [showHeaders]="showHeaders&&pixelSize>=40" [showGrid]="showGrid"
                    [selectedColorScale]="selectedColorScale" [showNumbers]="showNumberValues&&pixelSize>=40"
                    [tick]="bitmapTick" [userSelect]="false"
                    >

                </app-bitmap>
            </div>
        </mat-card>

    </div>


</div>