<!-- <mat-card appearance="outlined" class="main-card" style="height: calc(100% - 20px); overflow-y: auto;"> -->
<div
    style="height: calc(100% - 16px); display: flex; flex-direction: column; justify-content: start; gap: 8px; padding: 8px;">

    <div style="flex: 1 1 auto; min-height: 250px; display: flex; gap: 8px; overflow: auto;">

        <mat-card style="flex: 1; overflow: hidden; padding: 0;" appearance="outlined">
            <div class="scrollable">
                <app-bitmap class="bitmap" [bitmap]="bitmap" [tick]="bitmapComponentTick" [pixelSize]="pixelSize"
                    [showHeaders]="showHeaders&&pixelSize>=40" [showNumbers]="showNumberValues&&pixelSize>=40"
                    [showGrid]="showGrid" [selectedColorScale]="selectedColorScale"
                    (bitmapChanged)="prepareChartData(); updateChart()">
                </app-bitmap>
            </div>
        </mat-card>

        <mat-card appearance="outlined" style="overflow: auto;">
            <div class="scrollable sidebar flex-col">

                <mat-card-title class="end">
                    <mat-icon inline>visibility</mat-icon>
                    View
                </mat-card-title>

                
                <mat-checkbox [(ngModel)]="showNumberValues" [disabled]="pixelSize<40">
                    Numbers
                </mat-checkbox>
                <mat-checkbox [(ngModel)]="showGrid">
                    Grid
                </mat-checkbox>
                <mat-checkbox [(ngModel)]="showHeaders" [disabled]="pixelSize<40">
                    Headers
                </mat-checkbox>
                <mat-checkbox  class="end" [(ngModel)]="enableHistogramColorscale" (ngModelChange)="updateChart(); this.chart?.update('none');">
                    Histogram Colorscale
                </mat-checkbox>
                
                <mat-label>Pixel Size</mat-label>
                <mat-slider min="25" max="100" step="1" discrete="thumbLabel">
                    <input matSliderThumb [(ngModel)]="pixelSize">
                </mat-slider>
            
                <mat-label>Bin Size </mat-label>
                <mat-slider min="1" max="32" step="1" discrete="thumbLabel">
                    <input matSliderThumb [value]="this.histogramBinSize" (dragEnd)="setGroupSize($event.value)" />
                </mat-slider>
          
                <mat-form-field class="end" subscriptSizing="dynamic" appearance="outline">
                    <mat-label>Color Scale</mat-label>
                    <mat-select [(ngModel)]="selectedColorScale">
                        <mat-option value="none">None</mat-option>
                        <mat-option value="grayscale">Grayscale</mat-option>
                        <mat-option value="heatmap">YellowOrangeRed</mat-option>
                        <mat-option value="spectral">Spectral</mat-option>
                        <mat-option value="viridis">Viridis</mat-option>
                    </mat-select>
                </mat-form-field>

                <button mat-flat-button [routerLink]="['/edit', bitmapKey]">
                    <mat-icon>edit</mat-icon>
                    Edit
                </button>
            </div>
        </mat-card>
    </div>

    <mat-card appearance="outlined" style="overflow: hidden; flex: 0 0 auto;">
        <div style="height: 200px;">
            <canvas #histogram id="histogram" style="width: 100%;">
            </canvas>
        </div>
        <!-- <div style="display: flex; align-items: center; gap: 10px">
                    <mat-label style="text-wrap: nowrap;">Range </mat-label>
                    <mat-slider min="0" max="256" step="1" discrete="thumbLabel" style="width: 100%;">
                        <input matSliderStartThumb [value]="this.rangeStart" (dragStart)="setRangeStart($event.value)"/>
                        <input matSliderEndThumb [value]="this.rangeEnd" (dragEnd)="setRangeEnd($event.value)"/>
                    </mat-slider>
                </div> -->
    </mat-card>

    <mat-card appearance="outlined" style="padding: 4px;">
        <app-animation-controller (valueChanged)="animate($event)">
        </app-animation-controller>
    </mat-card>


</div>

<!-- </mat-card> -->