mat-card {
    padding: 10px;
    user-select: none;
}

.top-right-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}

button[mat-mini-fab] {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
}