
<mat-dialog-content style="width: 100%; padding: 10px; padding-top: 22px;">
    <div class="scrollable" style="height: 100%;">
            <table style="margin: auto;">
                <tr>
                    <th style="position: relative; width: 45px; height: 45px;">
                        <svg width="100%" height="100%">
                            <line x1="0" y1="0" x2="100%" y2="100%" stroke="var(--mat-sys-outline)" />
                        </svg>
                        <div style="position:absolute; bottom:6px; left:10px;">&rho;</div>
                        <div style="position:absolute; top:6px; right:10px;">&theta;</div>
                    </th>

                    @for (_ of accumulator[0]; track $index) {
                    <th>
                        {{($index)*thetaStep}}&deg;
                    </th>
                }
            </tr>
            @for (row of accumulator ; track $index; let rowIndex = $index) {
                <tr>
                    <th>
                        {{$index-((accumulator.length-1)/2)}}
                    </th>
                    @for (cell of row ; track $index) {
                        @if (currentAccumulator.has(`[${rowIndex}, ${$index}]`)) {
                            <th>
                                {{cell}}
                            </th>
                        } @else {
                            <td>
                                {{cell}}
                            </td>
                        }
                    }
                </tr>
            }
        </table>
    </div>
</mat-dialog-content>