
.slim-form-field:focus { 
    outline: none !important;
    border: var(--default-border) !important;
}
.slim-form-field {
    /* height: 40px; */
    --mat-form-field-container-vertical-padding: 10px;
    --mat-form-field-container-height: 40px;
    --mat-form-field-outlined-focus-outline-width: 1px;
    --mdc-outlined-text-field-focus-outline-width: 1px;
    /* --mdc-outlined-text-field-focus-outline-width: 2px; */
    --mdc-outlined-text-field-focus-outline-color: var(--mat-sys-primary);
    --mdc-outlined-text-field-container-shape: 8px;
}
